movies-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

movie-card{
    border: 1px solid #ccc;
    border-radius: 8px;
}

movie-release-and-rating{
    display: flex;
    padding: 10px;
    font-size: 14px;
    color: #666;
}

movie-genres{
    display: flex;
    gap: 5px;
    padding: 10px;
    color: #666;
}

genre-pill{
    background-color: #eee;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 12px;
}